* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fffbf4;
}

nav {
    font-family: Ubuntu;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    height: 65px;
    background: #000;
    color: #ffffff;
}

nav ul li {
    padding: 0 12px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.2rem;
}


.brand img {
    width: 60px;
    padding: 0 10px;
    border: 1px solid black;
    border-radius: 50px;
}

.bottom {
    position: sticky;
    height: 80px;
    background-color: #000;
    color: #ffffff;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icons {
    margin-top: 10px;
}

.icons i {
    cursor: pointer;
}

.container {
    height: 72vh;
    background-color: #000;
    color: #ffffff;
    display: flex;
    margin: 20px auto;
    width: 70%;
    border-radius: 12px;
    padding: 30px;
    background: url(./assets/images/background.jpg) no-repeat center center/cover;
}

#myProgressBar {
    width: 80vw;
    text-align: center;
}

.songs {
    height: 50px;
    display: flex;
    background-color: #ffffff;
    width: 80%;
    color: #000;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
}

.songs img {
    width: 40px;
    margin: 0 20px;
    border: 1px solid black;
}

.timestamp{
    margin: 0 20px;
}

/* Fonts */
@font-face {
    font-family: Ubuntu;
    src: url(./assets/fonts/Ubuntu-Medium.ttf);
}

@font-face {
    font-family: Poppins;
    src: url(./assets/fonts/Poppins-Medium.ttf);
}